<div class="row row-cols-1 row-cols-md-2 g-4">
  <div *ngIf="dish" class="col">
    <div class="card h-100">
      <div class="card-header">
        <h3 class="card-title">{{ dish.name | uppercase }}</h3>
      </div>
      <img src="{{ dish.image }}" class="card-img-top" alt="{{ dish.name }}" />
      <div class="card-body">
        <h5 class="card-title">{{ dish.name }}</h5>
        <p class="card-text">{{ dish.description }}</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary me-2">LIKE</button>
        <button class="btn btn-secondary">SHARE</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div>
      <h2>comments</h2>
    </div>
  </div>
</div>
